.chat-container {
  max-width: 300px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  z-index: 999;
}

.chat-messages {
  max-height: 400px;
  overflow-y: scroll;
  padding: 10px;
}

.chat-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.chat-option:hover {
  background-color: #ebebeb;
}

.chat-option p {
  margin: 0;
  font-weight: bold;
}

.chat-option:last-child {
  margin-bottom: 0;
}
.message-prompt {
  display: flex;
  background-color: white;
  margin: 3px;
}